@model ProjetPiMap.Models.BigViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/TempleClient.cshtml";
}

   @section templte2{

    <!-- 2eme Template -->

    <link href="~/ContentC/css/select2.min.css" rel="stylesheet" />

    <!-- JQUERY MENU -->
    <link rel="stylesheet" href="~/ContentC/css/mega_menu.min.css">

    <!-- ANIMATION -->
    <link rel="stylesheet" href="~/ContentC/css/animate.min.css">

    <!-- OWl  CAROUSEL-->
    <link rel="stylesheet" href="~/ContentC/css/owl.carousel.css">
    <link rel="stylesheet" href="~/ContentC/css/owl.style.css">

    <!-- TEMPLATE CORE CSS -->
    <link rel="stylesheet" href="~/ContentC/css/style.css">

    <!-- FONT AWESOME -->
    <link rel="stylesheet" type="text/css" href="~/ContentC/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/ContentC/css/et-line-fonts.css" type="text/css">

    <!-- Google Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900,300" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet" type="text/css">

    <!-- JavaScripts -->
    <script src="~/ContentC/js/modernizr.js"></script>
}



@if (@ViewBag.Message != null)
{
<div class="alert alert-warning" role="alert">
    <h4 class="alert-heading">Warning</h4>
    <p>@ViewBag.Message</p>
   
</div>



}
    <section class="single-job-section single-job-section-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="single-job-detail-box">
                        <div class="col-md-9 col-sm-12 col-xs-12">
                            <div class="company-img">
                                <img src="~/ContentB/images/company/logo2.png" alt="">
                            </div>
                            <div class="job-detail-2">
                                <h2>Levio is recruiting a - @Html.DisplayFor(model => model.offerViewModel.JobType)</h2>
                                <div class="job-detail-meta">
                                    <ul>
                                        <li><i class="fa fa-location-arrow"></i> Levio, Quebec, Canada</li>
                                        <li><i class="fa fa-location-arrow"></i> @Html.DisplayFor(model => model.offerViewModel.JobType)</li>
                                        <li><i class="fa fa-dollar"></i> @Html.DisplayFor(model => model.offerViewModel.ExpectedSalary)/Month</li>
                                        <li><i class="fa fa-calendar-o"></i> Deadline: @Html.DisplayFor(model => model.offerViewModel.LastDay)</li>
                                    </ul>
                                </div>
                                <div class="b-socials full-socials">
                                    <ul class="list-unstyled">
                                        <li><a href="https://twitter.com/"><i class="fa fa-twitter fa-fw"></i>Tweet</a></li>
                                        <li><a href="https://www.facebook.com/"><i class="fa fa-facebook fa-fw"></i>Share</a></li>
                                        <li><a href="https://plus.google.com/"><i class="fa fa-google-plus fa-fw"></i>Google+</a></li>
                                        <li><a href="http://pinterest.com/"><i class="fa fa-pinterest fa-fw"></i>Pinterest</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12">
                            <div class="apply-job">
                                <a class="btn btn-default" data-toggle="modal" data-target="#myModal"><i class="fa fa-upload"></i>Apply For Position</a>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <div class="single-job-page-2 job-short-detail">
                            <div class="heading-inner">
                                <p class="title">Job Description</p>
                            </div>
                            <div class="job-desc job-detail-boxes">
                                <p>
                                    @Html.DisplayFor(model => model.offerViewModel.JobDescription)
                                </p>
                                <div class="heading-inner">
                                    <p class="title">Job Specification:</p>
                                </div>
                                <ul class="desc-points">
                                    <li>
                                        <i class="fa fa-caret-right "></i> Being a garment merchandiser, you should be capable of executing all related merchandising activities.
                                    </li>
                                    <li>
                                        <i class="fa fa-caret-right "></i> You should be able to handle it with care and professionally.
                                    </li>
                                    <li>
                                        <i class="fa fa-caret-right "></i> Part of the duties is to prepare the samples and the budget and both of them are for approval.
                                    </li>
                                    <li>
                                        <i class="fa fa-caret-right "></i> Constant update and interaction with the supplies is needed.
                                    </li>
                                    <li>
                                        <i class="fa fa-caret-right "></i> You should also make sure that the functions of all related processes are running smoothly.
                                    </li>
                                </ul>

                                <div class="heading-inner">
                                    <p class="title">Technical Guidance:</p>
                                </div>
                                <ul class="desc-points">
                                    <li>
                                        <i class="fa fa-caret-right "></i> you should be capable of executing all related merchandising activities of the given orders or the customers.
                                    </li>
                                    <li>
                                        <i class="fa fa-caret-right "></i> You should be able to handle it with care and professionally.
                                    </li>
                                    <li>
                                        <i class="fa fa-caret-right "></i> Part of the duties is to prepare the samples and the budget and both of them are for approval.
                                    </li>
                                    <li>
                                        <i class="fa fa-caret-right "></i> Constant update and interaction with the supplies is needed.
                                    </li>
                                    <li>
                                        <i class="fa fa-caret-right "></i> You should also make sure that the functions of all related processes are running smoothly.
                                    </li>
                                </ul>
                                <div class="heading-inner">
                                    <p class="title">Job Requirements:</p>
                                </div>
                                    <ul class="desc-points">
                                        <li>
                                            <i class="fa fa-caret-right "></i> @Html.DisplayFor(model => model.offerViewModel.JobRequirements)
                                        </li>
                                        </ul>
                            
                                </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="widget">
                            <div class="widget-heading"><span class="title">Short Description</span></div>
                            <ul class="short-decs-sidebar">

                                <li>
                                    <div>
                                        <h4>Job Experience:</h4>
                                    </div>
                                    <div><i class="fa fa-clock-o"></i>@Html.DisplayFor(model => model.offerViewModel.JobExperience)</div>
                                </li>
                                <li>
                                    <div>
                                        <h4>Job Title:</h4>
                                    </div>
                                    <div><i class="fa fa-location-arrow"></i>@Html.DisplayFor(model => model.offerViewModel.JobType)</div>
                                </li>
                                <li>
                                    <div>
                                        <h4>Posted On:</h4>
                                    </div>
                                    <div><i class="fa fa-calendar"></i>@Html.DisplayFor(model => model.offerViewModel.PostedOn)</div>
                                </li>
                                <li>
                                    <div>
                                        <h4>Expected Salary:</h4>
                                    </div>
                                    <div><i class="fa fa-dollar"></i>@Html.DisplayFor(model => model.offerViewModel.ExpectedSalary)/month </div>
                                </li>
                            </ul>
                        </div>
                        <aside>
                            <div class="company-detail widget">
                                <div class="widget-heading"><span class="title">Company Detail</span></div>
                                <div class="company-contact-detail">
                                    <table>
                                        <tr>
                                            <th>Name:</th>
                                            <td> Levio, Canada</td>
                                        </tr>
                                        <tr>
                                            <th>Email:</th>
                                            <td> info@levio.ca</td>
                                        </tr>
                                        <tr>
                                            <th>Phone:</th>
                                            <td> +1 418-914-3623</td>
                                        </tr>
                                        <tr>
                                            <th>Website:</th>
                                            <td> www.levio.ca</td>
                                        </tr>
                                        <tr>
                                            <th>Address:</th>
                                            <td> 1015 Avenue Wilfrid-Pelletier, Quebec, QC G1W 0C4, Canada</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </aside>
                        <div class="single-job-map">
                            <div id="map-contact"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="process-content">
        <div class="container">

            <!-- SIgn Up -->
            <div class="moti-sign">

                <div class="form-sec">



                    <div class="modal fade apply-job-modal" id="myModal">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body contact-form-container">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
                                    <div class="job-modal">
                                        <h2>Want To Apply For this Job?</h2>
                                    </div>
                                    @using (Html.BeginForm("Create", "JobRequest", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div style="margin-left: 200px;">
                                            @if (@ViewBag.Message != null)
                                            {
                                            <span style="color:green">
                                                @ViewBag.Message
                                            </span>
                                            }
                                        </div>


                                        <form method="post" id="job-form">
                                            <div class="row clearfix">
                                                

                                                <div class="column col-md-12 col-sm-12 col-xs-12">

                                                    <ul>
                                                        <li class="col-md-12">
                                                            @Html.DropDownListFor(m => m.jobRequestModel.speciality, ((List<string>)ViewBag.list).Select(m => new SelectListItem { Text = m, Value = m }), "Speciality")


                                                        </li>
                                                    </ul>

                                                </div>


                                                    <div class="column col-md-12 col-sm-12 col-xs-12">
                                                        <div class="input-group image-preview form-group" style="width: 550px;    left: 32px;">
                                                            <input type="text" class="form-control image-preview-filename" disabled="disabled">
                                                            <!-- don't give a name === doesn't send on POST/GET -->
                                                            <span class="input-group-btn">
                                                                <!-- image-preview-clear button -->
                                                             
                                                                <!-- image-preview-input -->
                                                                <div class="btn btn-default image-preview-input">
                                                                    <span class="glyphicon glyphicon-folder-open"></span>
                                                                    <span class="image-preview-input-title">Browse</span>
                                                                    <input type="file" accept="file_extension" name="file" />
                                                                    <input hidden type="text" name="idOffer" value='@Html.DisplayFor(model => model.offerViewModel.offerId)'/>
                                                                    <!-- rename it -->
                                                                </div>
                                                                
                                                            </span>
                                                        </div>
                                                    </div>
                                              
                                                @Html.ValidationMessageFor(model => model.attachmentModel.lienAttachment, "", new { @class = "text-danger" })


                                                <div class="col-md-10 col-xs-10" style="padding-left: 100px;  left: 100px;">
                                                    <div class="text-center" style="margin-right: 150px;">
                                                        <button type="submit" name="submit" class="btn btn-default btn-block">Apply Now</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div


    <a href="#" class="scrollup"><i class="fa fa-chevron-up"></i></a>



    @*<dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.JobType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobExperience)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobExperience)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobRequirements)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobRequirements)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpectedSalary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpectedSalary)
        </dd>

    </dl>*@

@*<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@

@section Scripts{


    <!--2eme Template -->
    <script type="text/javascript" src="~/ContentC/js/jquery-3.1.1.min.js"></script>
    <!-- JAVASCRIPT JS  -->
    <script type="text/javascript" src="~/ContentC/js/jquery-migrate-1.2.1.min.js"></script>

    <!-- BOOTSTRAP CORE JS -->
    <script type="text/javascript" src="~/ContentC/js/bootstrap.min.js"></script>

    <!-- JQUERY SELECT -->
    <script type="text/javascript" src="~/ContentC/js/select2.min.js"></script>
    <!-- MEGA MENU -->
    <script type="text/javascript" src="~/ContentC/js/mega_menu.min.js"></script>




    <script type="text/javascript" src="~/ContentC/js/counterup.js"></script>

    <!-- JQUERY WAYPOINT -->
    <script type="text/javascript" src="~/ContentC/js/waypoints.min.js"></script>

    <!-- JQUERY REVEAL -->
    <script type="text/javascript" src="~/ContentC/js/footer-reveal.min.js"></script>

    <!-- Owl Carousel -->
    <script type="text/javascript" src="~/ContentC/js/owl-carousel.js"></script>

    <!-- FOR THIS PAGE ONLY -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
    <script type="text/javascript" src="~/ContentC/js/map.js"></script>

    <!-- CORE JS -->
    <script type="text/javascript" src="~/ContentC/js/custom.js"></script>
    <script src="~/Content/js/jquery-3.1.1.min.js"></script>

    <script src="~/Content/js/bootstrap.js"></script>
    <script src="~/Content/js/jquery.ba-outside-events.min.js"></script>
    <script src="~/Content/js/jquery.inview.min.js"></script>
    <script src="~/Content/js/jquery.responsive-tabs.js"></script>
    <script src="~/Content/js/jquery.tagsinput.min.js"></script>
    <script src="~/Content/js/owl.carousel.html"></script>
    <script src="~/Content/js/jquery-ui.js"></script>
    <script src="~/Content/js/scripts.js"></script>
    <script type="text/javascript">
                        $('#tags').tagsInput();
    </script>
    <script>
    window.setTimeout(function() {
    $(".alert").fadeTo(500, 0).slideUp(500, function(){
        $(this).remove();
    });
}, 4000);

</script>
}