@model ProjetPiMap.Models.RegisterViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/TempleClient.cshtml";
}


<div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
</div>
    
    <div class="process-content">
        <div class="container">

            <!-- SIgn Up -->
            <div class="moti-sign">
                <h3>Sign Up for Levio</h3>
                <div class="form-sec">
                    <div class="process-num">

                        <!-- Account SetUp -->
                        <ul>
                            <li class="current">
                                <p><span>1</span>Account Info</p>
                            </li>
                            <li>
                                <p><span>2</span>Confirm your Email</p>
                            </li>
                            <li>
                                <p><span>3</span>Add informations</p>
                            </li>
                            <li>
                                <p><span>4</span>Account Complete</p>
                            </li>
                        </ul>
                    </div>


@using (Html.BeginForm())

{
<form >

        @Html.AntiForgeryToken()


        <ul>
            <li class="col-md-6">
                @Html.EditorFor(model => model.firstname, new { htmlAttributes = new { @class = "form-control input-lg", placeholder = "Firstname" } })
                @Html.ValidationMessageFor(model => model.firstname, "", new { @class = "text-danger" })
            </li>

            <li class="col-md-6">
                @Html.EditorFor(model => model.lastname, new { htmlAttributes = new { @class = "form-control", placeholder = "Lastname" } })
                @Html.ValidationMessageFor(model => model.lastname, "", new { @class = "text-danger" })
            </li>
        </ul>

                        <ul>
                            <li class="col-md-12">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </li>
                        </ul>

                        <ul>
                            <li class="col-md-6">
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </li>
                            <li class="col-md-6">
                                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Confirm Password" } })
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                            </li>
                        </ul>

                        <ul>
                            <li class="col-md-12">
                                @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control", placeholder = "Address" } })
                                @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
                            </li>
                        </ul>
                        <ul>
                            <li class="col-md-12">
                                @Html.EditorFor(model => model.phoneNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "Phone Number" } })
                                @Html.ValidationMessageFor(model => model.phoneNumber, "", new { @class = "text-danger" })
                            </li>
                        </ul>
                        <ul class="location-content">
                            <li class="col-md-12">
                                <label class="control-label">Account Type</label>
                                @Html.DropDownListFor(m => m.RoleName,  new SelectList(ViewBag.Roles,"Value","Text"), new { @class = "form-control custom-select" })
                            </li>
                        </ul>
                        @*<ul>
                            <li class="col-md-12">
                                @Html.DropDownListFor(m => m.role, ((List<string>)ViewBag.list).Select(m => new SelectListItem { Text = m, Value = m }), "Select Gender")
                            </li>
                        </ul>*@
                        <ul style="height: 120px;">
                            <li class="col-md-6">
                                <p>Already a member? <a href="#.">Sign In</a></p>
                            </li>
                            <li class="col-md-6"> <input type="submit" value="Create" class="btn-new" /></li>
                        </ul>
 
                    </form>
}   
                </div>
            </div>
        </div>
    </div>





    @section Scripts{
        <script src="~/Content/js/jquery-3.1.1.min.js"></script>
       
        <script src="~/Content/js/bootstrap.js"></script>
        <script src="~/Content/js/jquery.ba-outside-events.min.js"></script>
        <script src="~/Content/js/jquery.inview.min.js"></script>
        <script src="~/Content/js/jquery.responsive-tabs.js"></script>
        <script src="~/Content/js/jquery.tagsinput.min.js"></script>
        <script src="~/Content/js/owl.carousel.html"></script>
        <script src="~/Content/js/jquery-ui.js"></script>
        <script src="~/Content/js/scripts.js"></script>
        <script type="text/javascript">
      $('#tags').tagsInput();
        </script>
    




}

